.page-header.type19 {
  background-color: #1fc0a0;
  color: #fff;
  border-top-width: 0;
}
.page-header.type19 .switcher strong {
  font-weight: 600;
}
.page-header.type19 .minicart-wrapper {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -20px;
}
.page-header.type19 .minicart-wrapper .action.showcart {
  line-height: 37px;
  color: #606669;
}
.page-header.type19 .minicart-wrapper .action.showcart:before,
.page-header.type19 .minicart-wrapper .action.showcart.active:before {
  color: #fff;
  font-size: 29px;
  line-height: 40px;
}
.page-header.type19.sticky-header .minicart-wrapper .action.showcart:before,
.page-header.type19.sticky-header
  .minicart-wrapper
  .action.showcart.active:before,
.page-header.type19.sticky-header .minicart-wrapper .action.showcart:after {
  color: #151515;
}
.page-header.type19 .minicart-wrapper .action.showcart .counter.qty {
  background-color: #85C1E9;
  left: 18px;
  margin-top: -18px;
}
.page-header.type19 .minicart-wrapper .action.showcart:after {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.page-header.type19 .minicart-wrapper .action.close {
  top: 5px;
}
/* .page-header.type19 .minicart-wrapper .loading-mask {
} */
.page-header.type19 .minicart-wrapper .block-minicart {
  left: 0;
  margin: 0;
}
.page-header.type19 .minicart-wrapper .block-minicart:before,
.page-header.type19 .minicart-wrapper .block-minicart:after {
  display: none;
}
@media (min-width: 768px) {
  .page-header.type19 .logo {
    margin: 17.5px 0;
  }
  .page-header.type19 .panel.header .switcher {
    padding-left: 15px;
    float: none;
    height: auto;
  }
  .page-header.type19 .panel.header .switcher strong {
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 18px;
  }
  .page-header.type19 .panel.header {
    display: inline-block;
    position: absolute;
    left: 84px;
    top: 50%;
    margin-top: -20px;
    width: auto;
  }
  .page-header.type19 .top-links-area {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .page-header.type19 .top-links-icon {
    padding: 0 0 0 20px;
  }
  .page-header.type19 .top-links-icon a {
    color: #fff;
    font-size: 13.5px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .page-header.type19 .top-links-icon a:hover {
    text-decoration: none;
  }
  .page-header.type19 .top-links-icon:before {
    content: "\f807";
    display: block;
    position: absolute;
    left: 3px;
    top: 50%;
    font-family: "porto-icons";
    margin-top: -12px;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
  }
  .page-header.type19 .top-links-area > .links {
    display: none;
    position: absolute;
    left: 0;
    z-index: 9;
    background-color: #fff !important;
    border-radius: 3px;
    margin: 0;
    padding: 5px 0;
    text-align: left;
    border: 1px solid #ccc;
    min-width: 150px;
  }
  .page-header.type19 .top-links-area .links > li {
    display: block;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 19px;
  }
  .page-header.type19 .top-links-area .links > li > a,
  .page-header.type19 .top-links-area .links > li > span {
    color: #777 !important;
    white-space: nowrap;
    padding: 0 10px;
    display: block;
    transition: all 0.2s;
    font-weight: 400;
    font-size: 11px;
  }
  .page-header.type19 .block-search {
    margin-right: 60px;
    width: 400px;
  }
  .page-header.type19 .block-search input {
    background-color: #fff;
    color: #8d8d8d;
    border-radius: 20px;
  }
  .page-header.type19 .block-search .action.search {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 12px;
  }
  .page-header.type19 .nav-sections {
    background-color: #fff;
    color: #6b7a83;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 0px;
  }
  .page-header.type19.sticky-header .nav-sections {
    background-color: #fff;
    color: #fff;
  }
  .page-header.type19.sticky-header .navigation li.level0.active,
  .page-header.type19.sticky-header .navigation li.level0:hover {
    color: #bde1f5;
  }
  .page-header.type19 .navigation .level0 {
    margin-left: 4px;
    color: inherit;
  }
  .page-header.type19 .navigation .level0 > .level-top {
    font-family: Oswald;
    font-size: 12.5px;
    letter-spacing: 0.05em;
    color: inherit;
    font-weight: 500;
    line-height: 57px;
  }
  .page-header.type19 .navigation .level0 > .level-top:after {
    line-height: 57px;
  }
  .page-header.type19 .navigation li.level0.active,
  .page-header.type19 .navigation li.level0:hover {
    color: #161616;
  }
  .page-header.type19 .navigation li.level0.parent:hover a.level-top:before {
    display: none;
  }
}
@media (max-width: 991px) {
  .page-header.type19 .block-search {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .page-header.type19 .top-links-area,
  .page-header.type19 .custom-block {
    display: none;
  }
  .page-header.type19 .logo {
    height: 40px;
    float: right;
    margin: 10px 0;
  }
  .page-header.type19 .logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
  }
  .page-header.type19 .minicart-wrapper {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 10px 0;
    float: left;
  }
  .page-header.type19 .block-search {
    float: none;
    margin-bottom: 0;
  }
  .page-header.type19 .block-search .label:before,
  .page-header.type19 .nav-toggle:before {
    color: #fff;
    font-size: 18px;
  }
  .page-header.type19 .block-search .label {
    float: left;
    margin: 10px 0;
    line-height: 40px;
    margin-left: 15px;
  }
  .page-header.type19 .custom-block {
    display: none;
  }
  .page-header.type19 .nav-toggle {
    float: left;
    padding-top: 2px;
  }
}
